body, div, header, li, main, p, ul {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("background.png");
}

#main-nav {
	list-style-type: none;
	padding-right: 100px;
	padding-top: 50px;
}

#main-nav::after {
	clear: both;
	content: "";
	display: table;
}

.nav-item {
	float: right;
	padding-right: 50px;
}

.nav-link {
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	position: relative;
	text-decoration: none;
}

a.nav-link::before {
	content: "\22C6 \00A0 \22C6 \00A0 \22C6";
	left: 50%;
	overflow: hidden;
	position: absolute;
	top: 30px;
	transition: left 0.5s, width 0.5s;
	width: 0;
}

a.nav-link:hover {
	color: #BBBBBB;
}

a.nav-link:hover::before {
	left: calc(50% - 19.46px);
	width: 100%;
}

.nav-link.current::before {
	content: "\22C6 \00A0 \22C6 \00A0 \22C6";
	left: calc(50% - 19.46px);
	position: absolute;
	top: 30px;
}

#instruction {
	color: #FFFFFF;
	font-family: 'Teko', sans-serif;
	font-size: 48px;
	font-weight: 700;
	padding: 100px 0;
	text-align: center;
	text-shadow: 1px 1px 2px #000000;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 15%;
}

.grid-item {
	text-align: center;
}

.song-title {
	background-color: #FFFFFF;
	border: 0;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #000000;
	cursor: pointer;
	font-family: 'Norican', cursive;
	font-size: 28px;
	margin-bottom: 75px;
	padding: 5px 15px;
	position: relative;
}

.song-title::before {
	background-image: url("crown.png");
	background-size: 40px 40px;
	content: "";
	display: inline-block;
	height: 0px;
	left: calc(50% - 20px);
	position: absolute;
	top: -10px;
	transition: height 1s, top 1s;
	width: 40px;
}

.song-title:hover::before {
	height: 40px;
	top: -50px;
}